<div class="inner-body">

	<h2>Weather Report</h2>
	<div class="row form-group">
		<div  class="col-md-6">
			<label for="location">Locations:</label>
			<select class="form-control" id="location" name="location" [(ngModel)]="selectedLocation">
				<option value="">Select Location</option>
				<option *ngFor="let location of Locations" value={{location}}>{{location}}</option>
			</select>
		</div>
		
		<div  class="col-md-6">
			<label for="metric">Metrics:</label>
			<select class="form-control" id="metric" name="metric" [(ngModel)]="selectedMetric">
				<option value="">Select Metric</option>
				<option *ngFor="let metric of Metrics" value={{metric}}>{{metric}}</option>
			</select>
		</div>
	</div>
	
	<div class="row form-group">
		<div class="col-md-6">
			<label for="start">Start Year:</label>
			<select class="form-control" id="start" name="start" [(ngModel)]="selectedStartYear">
				<option value="">Select Start Year</option>
				<option *ngFor="let year of yearList" value={{year}} [disabled]="selectedEndYear!='' && year >= selectedEndYear">{{year}}</option>
			</select>
		</div>
		
		
		<div class="col-md-6">
			<label for="end">End Year:</label>
			<select class="form-control" id="end" name="end" [(ngModel)]="selectedEndYear">
				<option value="">Select End Year</option>
				<option *ngFor="let year of yearList" value={{year}} [disabled]="selectedStartYear!='' && year <= selectedStartYear">{{year}}</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn" (click)="getChart()" [disabled]="selectedStartYear== '' || selectedEndYear== '' || selectedLocation== '' || selectedMetric == '' || showLoading">Get Chart</button>
		<div *ngIf="showLoading" class="loader"></div>
	</div>	

	
	<div *ngIf="lineChartData1.length>0 && lineChartData2.length>0">

		<div class="col-md-12 text-center">
			<button class="btn" (click)="randomizeType()">Toggle Line/Bar</button>
		</div>
		
		<div class="col-md-12 text-center">
			<button class="btn pull-left" (click)="previous()" [disabled]="selectedStartYear== 1910">Previous Year</button>
			<button class="btn pull-right" (click)="next()" [disabled]="selectedEndYear== 2017">Next Year</button>
		</div>
		
		<h3>Graph for the variation of {{selectedMetric}} for different months in a year range of {{selectedStartYear}} - {{selectedStartYear}}</h3>
		<div class="col-md-12">
			<div style="display: block;">
				<canvas baseChart width="200" height="200"
						[datasets]="lineChartData1"
						[labels]="lineChartLabels1"
						[options]="lineChartOptions"
						[legend]="lineChartLegend"
						[chartType]="lineChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)"></canvas>
			</div>
		</div>
		
		<div class="col-md-12">
			<div style="display: block;">
				<canvas baseChart width="200" height="200"
						[datasets]="lineChartData2"
						[labels]="lineChartLabels2"
						[options]="lineChartOptions"
						[legend]="lineChartLegend"
						[chartType]="lineChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)"></canvas>
			</div>
		</div>

	</div>

	<table *ngIf="initialChartData.length>0" class="table table-bordered table-striped">
		<thead>
			<tr> 
				<th colspan="3" class="text-center">{{selectedLocation}}-{{selectedMetric}}</th>
			</tr>
			<tr> 
				<th>Value</th>
				<th>Year</th>
				<th>Month</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let data of initialChartData">
				<td>{{data.value}}</td>
				<td>{{data.year}}</td>
				<td>{{monthMap[data.month]}}</td>
			<tr>
		</tbody>						
	</table>
<div>


